/* style */

* {
    font-family: "Arial", sans-serif;
    background-color: #dadac5;
    color: #0c0244;
}

.title {
    font-family: "Georgia", serif;
    font-weight: 900;
    color:black;
}

div {
    width: 800px;
}
img {
    height: auto;
    width: 800px;
}